textarea{
/*height: 70vh;
width: 90vw;*/
background-color:#2f3241;
resize: none;
color:#74b1be;
}
body{
  background-color:#2f3241;
  text-align:center;
  color:#afff00;
}
button{
  color:#2f3241;
  line-height: 3;
  border-radius: 10px;
  background-color:#afff00;
}
.noselect {user-select: none;}
