textarea {
  height: calc(100vh - (90px + 20px));
  width: 100%;
  background-color: #2f3241;
  resize: none;
  color: #74b1be;
}
body {
  background-color: #2f3241;
  text-align: center;
  color: #afff00;
}
button {
  color: #2f3241;
  line-height: 3;
  border-radius: 10px;
  background-color: #afff00;
}
.noselect {
  user-select: none;
}
